
.header-title{
    letter-spacing: 0.04em;
    font-size: 2rem;
    font-weight: 300;
    color : #636363;
    animation: slideInFromTop 1s ease-in-out;
}

.header-wrap{
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.site-header{
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    position: fixed;
    display: block;
    z-index: 10;
    transition: all 1s ease-in-out;
}