

@media only screen and (max-width: 1000px) {

    // dove trovarmi block

    .blocco-dove-trovarmi .lazy-block-h1-about{
        font-size: 42px;
    }

    //footer

    
    .footer-wrapper{
        padding: 3rem 1rem 8rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        flex-direction: column;

            
            .footerwrap-first{
                width: 80%;

                ul{
                    justify-content: space-between;
                    gap: none;
            
                }

                .icons {
                    width: 25%;
                }
            }
            
            .footerwrap-second{
                width: 80%;
            }

        }

    // end of footer
    
    .wp-block-lazyblock-blockarticlewide{
        height: 600px;
    }

    .svg-circle-line{
        display: none;
    }

    .a-selected{
        transition: all 1s ease-in-out;
        padding: 5rem 0;
        background-color: #9abeb6;
        position: fixed;
        left:-100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: space-around;
        opacity: 0;
    }

    /* menu-mobile-active media */

    .close-menu-right{
        cursor: pointer;
        position: absolute;
        opacity: 0;
        fill: white;
        transition: all 1s ease-in-out;
    }
    .ham-menu-right{
        cursor: pointer;
        position: absolute;
        opacity: 1;
        transition: all 1s ease-in-out;
    }
    .menu-mobile-active .close-menu-right{
        opacity: 1;
        cursor: pointer;
        position: absolute;
        color: white;
        z-index: 1;
    }
    .menu-mobile-active .ham-menu-right{
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }
    
    .header-wrap{
        padding: 0 5%;
    }

    .toggle-menu{
        padding: 35px;
        cursor: pointer;
        @include centeredxy;
    }
    
  .menu li a {
        background-image: linear-gradient( to right, #636363, #636363 50%, #fff 50% ) !important;
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }
    .menu li a:before {
        content: '';
        background: #636363 !important;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        transition: all 0.3s ease-in-out;
      }
    .menu li a {
        font-size: 30px;
    }
    .main-navigation{
        top: 0;
        left: 0;
        position: absolute;
    }
    .menu-menu-1-container{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .menu{
        transition: all 1s ease-in-out;
        padding: 5rem 0;
        background-color: #9abeb6;
        position: fixed;
        left:-100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: space-around;
        opacity: 0;
    }

    
    /* media block Interventi */

    .blockarticlewide-side-container{
        width: 100%;
        margin-left: 0px;
        float: none;
    }

    .png-article-style{
        opacity: 0.14;
        min-width: 547px;
        transform: translateX(-50px);
        opacity: 0.14;
    }

    .block-article-title-style{
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        left: 0%;
        top: 0%;
    }

    .article-position-left .block-article-content-style{
        left: 50%;
        width: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.05;
        line-height: 1rem;
    }

    .article-position-right .block-article-content-style{
        line-height: 1rem;
        letter-spacing: 0.05;
        left: 50%;
        width: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
    }

    .img-article-container-style{
        padding: 0
    }

    .square-style{
        width: 80%;
    }

    .vertical-rect-style{
        width: 75%;
    }
} 