.blocco-blockarticlewide{
    position: relative;
}


.blockarticlewide-side-container{
    width: 45%;
    height: 600px;
    max-height: 50%;
    
}
.block-article-title-style{
    z-index: 1;
    mix-blend-mode: color-dodge;
    color: #A9D1CE;
    font-size: 3em;
    width: 100%;
    right: 10%;
    font-weight: 200;  
    letter-spacing: 0.5rem;
    position: absolute;

    @include for-phone-only{
        left: 1rem;
        margin-top: 5rem;
        text-align: left;
        width: 80%;
        font-size: 32px;
        font-weight: 300;  

    }

    @include for-tablet-portrait-up{
        left: 1rem;
        margin-top: 4rem;
        text-align: left;
        width: 80%;
        font-size: 32px;
        font-weight: 300;  

    }

    @include for-tablet-landscape-up{
        left: 14%;
        margin-top: 5rem;
        text-align: center;
    }
}

.article-img-p-container{
    position: relative;
    height: 100%;
}

.img-article-container-style{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.png-article-style{
    width: 100%;
}

.block-article-content-style{
    line-height: 2rem;
    position: relative;
    letter-spacing: 0.25em;
    font-weight: 200;
}

.wp-block-lazyblock-blockarticlewide{
    @include for-phone-only{
        height: 600px;
    }
}

@media only screen and (max-width: 1000px) {


    /* media block Interventi */

       
    .wp-block-lazyblock-blockarticlewide{
        height: 600px;
    }

    .blockarticlewide-side-container{
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .png-article-style{
        opacity: 0.04;
        min-width: 547px;
        transform: translateX(-50px);
    }


    .article-position-left .block-article-content-style{
        left: 1rem;
        width: 95%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.05;
        line-height: 1rem;
    }

    .article-position-right .block-article-content-style{
        line-height: 1.1rem;
        letter-spacing: 0.09;
        left: 1rem;
        width: 95%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
    }

    .img-article-container-style{
        padding: 0
    }

    .square-style{
        width: 80%;
    }

    .vertical-rect-style{
        width: 75%;
    }

    
} 
