.blocco-blockarticlewide{
    position: relative;
}


.blockarticlewide-side-container{
    width: 45%;
    height: 600px;
    max-height: 50%;
    
}
.block-article-title-style{
    z-index: 1;
    mix-blend-mode: color-dodge;
    color: #A9D1CE;
    font-size: 3em;
    width: 100%;
    left: 14%;
    margin-top: 1%;
    right: 10%;
    font-weight: 200;  
    letter-spacing: 0.5rem;
    position: absolute;
}

.article-img-p-container{
    position: relative;
    height: 100%;
}

.img-article-container-style{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.png-article-style{
    width: 100%;
}

.block-article-content-style{
    line-height: 2rem;
    position: relative;
    letter-spacing: 0.25em;
    font-weight: 200;
}

.wp-block-lazyblock-blockarticlewide{
    @include for-phone-only{
        height: 600px;
    }
}

@media only screen and (max-width: 1000px) {


    /* media block Interventi */

       
    .wp-block-lazyblock-blockarticlewide{
        height: 600px;
    }

    .blockarticlewide-side-container{
        width: 100%;
        margin-left: 0;
        float: none;
    }

    .png-article-style{
        opacity: 0.14;
        min-width: 547px;
        transform: translateX(-50px);
        opacity: 0.14;
    }

    .block-article-title-style{
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        width: 100%;
        left: 0%;
        top: 0%;
    }

    .article-position-left .block-article-content-style{
        left: 50%;
        width: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.05;
        line-height: 1rem;
    }

    .article-position-right .block-article-content-style{
        line-height: 1rem;
        letter-spacing: 0.05;
        left: 50%;
        width: 65%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 27px;
        font-weight: 300;
        font-size: 16px;
    }

    .img-article-container-style{
        padding: 0
    }

    .square-style{
        width: 80%;
    }

    .vertical-rect-style{
        width: 75%;
    }

    
} 
